{{extend 'layout.html'}}
<!-- <h1>This is the storedprocedures/index.html template</h1> -->
<!-- {{=procName}} -->

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{=URL(c='default', f='index')}}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{=URL(c='database',f='index')}}">Databases</a></li>
    </ol>
</nav>
<h3>Submissions through Stored Procedures</h3>
{{if len(procName)>0:}}
  <table class="table table-bordered">
    <thead>
      <tr> 
        <th>DB Name</th>
        <th>Stored Proc Name</th>
      </tr>  
    </thead>
    <tbody>
      {{for result in procName:}}
      <tr>
          <td>{{=result.split('::')[0]}}</td>
          <td>{{=result.split('::')[1]}}</td>
      </tr>
      {{pass}}
    </tbody>
  </table>
{{else:}}
    <p>No records available.</p>
{{pass}}